[Unit]
Description=Run start-up notification service on server boot

[Timer]
Unit=startup-notification.service
OnCalendar=*-*-* 8:00:00
Persistent=true

[Install]
WantedBy=timers.target
